# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

## OS ###
.DS_Store

### Secure ###
*.pem

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

### Node ###
# Logs
logs
*.log
npm-debug.log*
.pnpm-debug.log*

# Dependency directories
node_modules/

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# testing
/coverage

# production
/build

### NuxtJS ###
# Generated dirs
.nuxt-*
.output
.gen
.nuxt
.nitro
.cache
dist
